#container{
  background-color: white;
  position: absolute;
  z-index: 10;
}

.overlay{
}

ul.menu{
  border: solid black;
  list-style: none;
  padding: 1em 0 1em 0;
  margin: 0;
}

ul.menu li{
  font-size: 0.7em;
  padding: 0 1em;
}

ul.menu li:hover{
  background-color: teal;
}
